
.complex {
  background: #fff;
}

.complex-address {
  border-top: 1px solid #eaebf0;
}

.complex-address-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.5rem 0 1rem 0;
}

.complex-address-title {
  margin: 0 0 0.5rem 0;
  font-size: 2rem;
  line-height: 1.13;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #3e4247;
}

.complex-address-detailed,
.complex-summary-sub-title {
  font-size: 0.875rem;
  line-height: 1.57;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  color: #a9afb6;
}

.complex-address-favorites-btn {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  font-size: 0.625rem;
  line-height: 1;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  color: #00779a;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #e0e0e1;
}

.complex-address-bar-favorites-btn:focus {
  outline: none;
}

.complex-gallery {
  position: relative;
  margin: 0 auto;
}

.complex-gallery-wrapper {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.complex-gallery-element {
  flex-grow: 1;
  flex-shrink: 0;
  height: 25rem;
  /*flex-basis: 39.13rem;*/
}

.complex-gallery-more-btn {
  position: absolute;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.625rem;
  line-height: 1;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  background: #00779a;
  border-radius: 2px;
  border: none;
}

.complex-gallery-more-btn:focus {
  outline: none;
}

.complex-summary-wrapper {
  padding: 1.5rem 0;
  border-bottom: 1px solid #e0e0e1;
}

.complex-summary-parameter {
  display: inline-block;
  margin-right: 3rem;
}

.complex-summary-title {
  margin: 0 0 0.625rem 0;
  line-height: 1.13;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #3e4247;
}

.complex-features {
  padding: 2rem 0 1rem 0;
  font-size: 0;
}

.complex-feature-title,
.area-feature-location,
.offer-card-feature-title {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.38;
  font-family: 'Fira Sans', sans-serif;
  color: #a9afb6;
}

.complex-features .complex-feature-title {
  width: 50%;
}

.complex-feature-text,
.area-feature-name {
  display: inline-block;
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  line-height: 1.56;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: #3e4247;
}

.complex-features .complex-feature-text {
  width: 50%;
}

.complex-feature-text:first-of-type {
  margin-top: 0;
}

.complex-features-title,
.complex-description-title,
.complex-infrastructure-title,
.offer-cards-title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  line-height: 1.13;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #3e4247;
}

.complex-description {
  padding: 2rem 0 1.5rem 0;
  border-bottom: 1px solid #e0e0e1;
}

.complex-description-text {
  margin: 0 0 1.7rem 0;
  font-size: 1rem;
  line-height: 1.56;
  font-family: 'Fira Sans', sans-serif;
  color: #3e4247;
}

.complex-description-text:last-of-type {
  margin-bottom: 0;
}

.complex-infrastructure {
  padding: 2rem 0 3.5rem 0;
}

.complex-infrastructure-object {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  line-height: 1.38;
  font-family: 'Fira Sans', sans-serif;
  color: #3e4247;
}

.offer-cards {
  padding: 4rem 0;
  background: #f4f5f9;
}

.offer-card {
  margin: 0.5rem 0 0 0;
  padding: 1.5rem 2rem;
  background: #fff;
}

.offer-card-title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #3e4247;
}

.offer-card-feature {
  margin-top: 1.5rem;
}

.offer-card-feature-value {
  margin: .625rem 0 0 0;
  font-size: 1rem;
  line-height: 1.38;
  font-family: 'Fira Sans', sans-serif;
  color: #3e4247;
}

.offer-card-show-btn {
  display: block;
  margin: 2rem auto 0 auto;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  line-height: 1;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 2px;
}

.area-guide {
  padding: 4rem 0 13.625rem 0;
  /*margin-bottom: 13.56rem;*/
  background: #3e4247;
}

.area-guide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.area-guide-name {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #a9afb6;
}

.area-guide-title {
  margin: 3rem 0;
  padding-right: 0.5rem;
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #fff;
}

.area-guide-link {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
  color: #00779a;
}

.area-guide-img,
.area-feature-img {
  width: 100%;
}

.area-guide-img {
  height: 35rem;
}

.area-features {
  margin: -9.8rem 0 4rem 0;
}

.area-feature-map {
  height: 19.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.area-feature {
  padding: 1.5rem;
  background: #fff;
  border: solid 1px #e0e0e1;
}

.area-feature-wrapper {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.area-feature-name {
  display: block;
  margin: 0;
}

.area-feature-location {
  display: block;
  margin: 0.5rem 0 0 0;
  line-height: 1.38;
}
