body {
  font-family: 'Fira Sans', sans-serif;
  background: #eaebf0 url('../img/background.png') repeat;
  background-size: 1rem;
}

a {
  text-decoration: none;
}

/* HEADER */

.main-header {
  background: #fff;
}

.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
}

.main-logo {
  width: 179px;
  height: 24px;
}

.header-nav {
  display: inline-block;
}

.header-nav-item {
  margin-left: 2.125rem;
  font-size: 1rem;
  line-height: 1;
  color: #3e4247;
}

/* COMPLEXES */

.development-logo-container {
  padding: 5rem 0;
  background: #161616;
}

.development-logo {
  display: block;
  width: 419px;
  height: 131px;
  margin: 0 auto;
}

.promo-wrapper {
  padding: 4rem 0;
  text-align: center;
  color: #3e4247;
}

.promo-title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2.315rem;
  font-weight: 700;
}

.promo-text {
  margin: 0.5rem 0 1rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.promo-btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  line-height: 1;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  background: #000;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.promo-btn:focus {
  outline: none;
}

.complex-card {
  display: flex;
  margin-bottom: 3rem;
}

.complex-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.complex-card:last-of-type{
  margin-bottom: 6rem;
}

.complex-card-img {
  flex-shrink: 0;
  width: 30.25rem;
  height: 21.9rem;
}

.complex-card-info {
  padding: 1.5rem 1rem;
  background: #fff;
  border-bottom: 2px solid #646971;
}

.complex-card-district {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  color: #646971;
}

.complex-card-address {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 700;
  color: #000;
}

.complex-card-description {
  margin: 0 7rem 0 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #3e4247;
}

/* COMPLEX */

.complex {
  background: #fff;
}

.address-bar {
  border-top: 1px solid #eaebf0;
}

.address-bar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 1rem 0;
}

.address-bar-title {
  margin: 0 0 0.5rem 0;
  font-size: 2rem;
  line-height: 1.13;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #3e4247;
}

.complex-note {
  font-size: 0.875rem;
  line-height: 1.57;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  color: #a9afb6;
}

.address-bar-favorites-btn {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  font-size: 0.625rem;
  line-height: 1;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  color: #00779a;
  background: #fff;
  border: 1px solid #e0e0e1;
  border-radius: 2px;
}

.address-bar-favorites-btn:focus {
  outline: none;
}

.gallery {
  position: relative;
  margin: 0 auto;
}

.gallery-wrapper {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.gallery-element {
  flex-grow: 1;
  flex-shrink: 0;
  height: 25rem;
  /*flex-basis: 39.13rem;*/
}

.gallery-more-btn {
  position: absolute;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.625rem;
  line-height: 1;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  background: #00779a;
  border: 1px solid #e0e0e1;
  border-radius: 2px;
}

.gallery-more-btn:focus {
  outline: none;
}

.summary {
  padding: 1.5rem 0;
  border-bottom: 1px solid #e0e0e1;
}

.summary-parameter {
  display: inline-block;
  margin-right: 3rem;
}

.summary-title {
  margin: 0 0 0.625rem 0;
  line-height: 1.13;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #3e4247;
}

.features {
  padding: 2rem 0 1rem 0;
  font-size: 0;
}

.feature-title,
.area-feature-location {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.38;
  font-family: 'Fira Sans', sans-serif;
  color: #a9afb6;
}

.features .feature-title {
  width: 50%;
}

.feature-text,
.area-feature-name {
  display: inline-block;
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  line-height: 1.56;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: #3e4247;
}

.features .feature-text {
  width: 50%;
}

.feature-text:first-of-type {
  margin-top: 0;
}

.parameter-title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  line-height: 1.13;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #3e4247;
}

.description {
  padding: 2rem 0 1.5rem 0;
  border-bottom: 1px solid #e0e0e1;
}

.description-text {
  margin: 0 0 1.7rem 0;
  font-size: 1rem;
  line-height: 1.56;
  font-family: 'Fira Sans', sans-serif;
  color: #3e4247;
}

.description-text:last-of-type {
  margin-bottom: 0;
}

.infrastructure {
  padding: 2rem 0 3.5rem 0;
}

.infrastructure-object {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  line-height: 1.38;
  font-family: 'Fira Sans', sans-serif;
  color: #3e4247;
}

.recomendation-cards {
  padding: 4rem 0;
  background: #f4f5f9;
}

.recomendation-card {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0 0;
  padding: 1.5rem 2rem;
  background: #fff;
}

.recomendation-card-title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.1;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #3e4247;
}

.recomendation-card-feature {
  margin-top: 1.5rem;
}

.recomendation-card-feature-value {
  margin: .625rem 0 0 0;
  font-size: 1rem;
  line-height: 1.38;
  font-family: 'Fira Sans', sans-serif;
  color: #3e4247;
}

.recomendation-card-show-btn {
  margin: 2rem auto 0 auto;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  line-height: 1;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 2px;
}

.area-guide {
  padding: 4rem 0 13.625rem 0;
  /*margin-bottom: 13.56rem;*/
  background: #3e4247;
}

.area-guide-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.area-guide-name {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #a9afb6;
}

.area-guide-title {
  margin: 3rem 0;
  padding-right: 0.5rem;
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: 'Philosopher', serif;
  color: #fff;
}

.area-guide-link {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
  color: #00779a;
}

.area-guide-img,
.area-feature-img {
  width: 100%;
}

.area-features {
  margin: -9.5rem 0 4rem 0;
}

.area-feature-map {
  height: 19.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.area-feature {
  padding: 1.5rem;
  background: #fff;
  border: solid 1px #e0e0e1;
}

.area-feature-wrapper {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.area-feature-name {
  display: block;
  margin: 0;
}

.area-feature-location {
  display: block;
  margin: 0.5rem 0 0 0;
  line-height: 1.38;
}

/* FOOTER */

.main-footer {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background: #111;
}

.footer-requisites,
.footer-complexes-links,
.about-company-links {
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #646971;
}

.company-numbers {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 300;
  color: #a9afb6;
}

.footer-phone {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 300;
  color: #a9afb6;
}

.footer-line {
  width: 11.5rem;
  height: 2px;
  margin: 0 0 1rem 0;
  background: #3e4247;
  border: none;
}

.footer-link,
.footer-link-all {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 300;
  color: #fff;
}

.footer-link-all {
  margin-top: 1rem;
}

.footer-link-all:after {
  display: inline-block;
  content: '';
  width: 0.55rem;
  height: 0.5rem;
  margin-left: 0.5rem;
  background: url('../img/combined-shape.svg');
}

.footer-copyright {
  margin-top: 6rem;
  margin-bottom: 0;
  padding-right: 2.6rem;
  font-size: 0.69rem;
  line-height: 1;
  font-weight: 300;
  color: #a9afb6;
}
