language: node_js
node_js:
  - 6
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn run prepush
  - yarn run flow
deploy:
  provider: script
  script:
    - yarn build && now --public --token $NOW_TOKEN build && now alias --token $NOW_TOKEN
  on:
    branch: travis-integration
