body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  background: #eaebf0 url('./background.png') repeat;
  background-size: 1rem;
  text-rendering: optimizeLegibility !important;
}

a {
  text-decoration: none;
}

.complex-bg {
  background: #fff;
}